<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Agaveros</title>
    <link rel="shortcut icon" href="{% static 'img/icon.ico' %}">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/propio/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/propio/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/propio/session.css' %}">

    <!-- script
    ================================================== -->
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script defer src="{% static 'js/fontawesome/all.min.js' %}"></script>

    <!-- bootstrap5
    ================================================== -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>    
</head>

<body id="top" style="background-color:#008080;" onload="inversion();" >

<!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- site header
    ================================================== -->
    <header class="s-header">

        <nav class="navegador" >
            <ul >
                {% block navegador %}
                {% endblock %}
                <li class="" ><a class=""  href="{% url 'simulador' %}"><h3 class="text-light" >Simulador</h3></a></li>
                <li class="" ><a class=""  href="{% url 'session' %}"><h3 class="text-light" >Ingresa</h3></a></li>
            </ul>
        </nav>

        <div class="header-logo">
            <a class="site-logo" href="{% url 'index' %}">
                <img src="{% static 'img/icon.png' %}" alt="Homepage">
            </a>
        </div>

    </header> <!-- end s-header -->


    <!-- intro
    ================================================== -->
    <section id="intro" class="s-intro s-intro--slides">

        <div class="intro-slider">
            <div class="intro-slider-img bg-opacity-40" style="background-image: url({% static 'img/foto7.jpeg' %});"></div>
            <div class="intro-slider-img" style="background-image: url({% static 'img/foto2.jpeg' %});"></div>
            <div class="intro-slider-img" style="background-image: url({% static 'img/foto8.jpeg' %});"></div>
            <div class="intro-slider-img" style="background-image: url({% static 'img/foto4.jpeg' %});"></div>
            <div class="intro-slider-img" style="background-image: url({% static 'img/foto5.jpeg' %});"></div>
            <div class="intro-slider-img" style="background-image: url({% static 'img/foto6.jpeg' %});"></div>
            <div class="intro-slider-img" style="background-image: url({% static 'img/foto1.jpeg' %});"></div>
            <div class="intro-slider-img" style="background-image: url({% static 'img/foto3.jpeg' %});"></div>
        </div>

        <div class="grid-overlay">
            <div></div>
        </div> 

    </section> <!-- end s-intro -->

    <!--iconos-fixed-redes
    =================================================== -->
    <!--CHAT MSSENGER FACEBOOCK-->
    <!-- Messenger Plugin de chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin de chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
    var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "102521751913220");
    chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
    window.fbAsyncInit = function() {
        FB.init({
        xfbml            : true,
        version          : 'v13.0'
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <!--END CHAT NESSENGER FACEBOOCK-->
    <div class="icon-bar">   
        <a target="_blank" href="https://wa.me/523317478583"><img src="{% static 'img/icono/whatsapp.png' %}" width="50" height="50"></a>        
    </div> <!-- end iconos-fixed-redes -->

    <div class="container" >
        {% block content %}
        {% endblock %}
    </div>

    <!-- footer
    =================================================== -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>AGAVEROS</h6>
                    <p class="text-justify">
                        Es una empresa Mexicana de inversión, dedicada a la producción, cuidado y comercialización de agave, fue fundada a raíz del crecimiento en la demanda de agave en la industria tequilera.</p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <ul class="footer-links">
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Contacto</h6>
                    <ul class="footer-links">
                        <li>contacto@agaveros.mx</li>
                    </ul>
                </div>
            </div>
            <hr>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved
                        </p>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                            <a target="_blank" href="https://www.facebook.com/agaverosmx/?hc_ref=ART8LTvYhPN9PfoKgF5U_hQeZyX0QPaXDaLlh7-OnmB8CVnCTxlonxbP1_F6Vh1SLXQ&fref=nf&__tn__=kC-R"><img class="faceboock" src="{% static 'img/icono/facebook.png' %}"></a>
                            <a href="#"><img class="twitter" src="{% static 'img/icono/gorjeo.png' %}"></a>
                            <a href="#"><img class="instagram" src="{% static 'img/icono/instagram.png' %}"></a>  
                            <a href="#"><img class="linkedin" src="{% static 'img/icono/linkedin.png' %}"></a>   
                    </div>
                </div>
        </div>
    </footer>  <!-- end footer -->


    <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/style.js' %}"></script>

</body>
